.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h3 {
  font-size: 5em;
}

.game {
  display: flex;
  flex-flow: row wrap;
}

.left {
  width: 65%;
  background: rgba(255, 233, 22, 0.5);
}

.right {
  width: 30%;
}
