@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

.App {
  text-align: center;
  font-family: 'Space Mono', monospace;
  border-radius: 3px;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: white;
}

h2 {
  margin-bottom: 1em;
}

h3 {
  font-size: 3em;
  font-family: 'Space Mono', monospace;
}

h4 {
  font-size: 1.5em;
  margin-bottom: 0;
}

p {
  margin-top: 0;
}

.game {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
  width: 95vw;
}

.left {
  width: 65%;
  background: #ffb347;
  border: 3px solid orange;
}

.right {
  width: 30%;
  background: black;
}

.right img {
  max-width: 100%;
}

button {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1em;
  border-radius: 3px;
  border: 1px solid black;
  padding: 0.5em;
}

.definition-button {
  color: white;
  background: black;
  border: none;
  padding: 0.5em;
  width: 10em;
  font-size: 1.2em;
  margin: 0.5em auto;
  display: block;
}

.new-button {
  background: #454544;
  color: white;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.25em;
}

input {
  font-size: 1.5em;
  border-radius: 3px;
  border: 1px solid black;
  padding: 0.25em;
  margin-right: 0.25em;
}

.letter-input {
  width: 1em;
  font-size: 2.5em;
  padding: 0 0 0 0.25em;
}
